# Notebook 3 - Dashboard Metrics & Export

## 1. Load Final Aggregated KPI Tables

These tables were produced in Notebook 2 and represent finalized, volume-weighted performance metrics.

In [1]:
import pandas as pd

In [2]:
kpi_by_month = pd.read_csv("/Users/emiadenuga/Downloads/Portfolio Files/Airline/data/processed/kpi_by_month.csv", parse_dates = ['MONTH'])
kpi_by_carrier = pd.read_csv("/Users/emiadenuga/Downloads/Portfolio Files/Airline/data/processed/kpi_by_carrier.csv")
kpi_by_route = pd.read_csv("/Users/emiadenuga/Downloads/Portfolio Files/Airline/data/processed/kpi_by_route.csv")
kpi_by_origin = pd.read_csv("/Users/emiadenuga/Downloads/Portfolio Files/Airline/data/processed/kpi_by_origin.csv")

In [3]:
kpi_by_month.head()

,MONTH,TOTAL_FLIGHTS,TOTAL_CANCELLED,TOTAL_DIVERTED,TOTAL_ARRIVED,DELAYED_FLIGHTS_W,SEV_DELAYED_FLIGHTS_W,ARR_DELAY_MIN_W,CANCEL_RATE,DIVERT_RATE,DELAY_RATE,SEVERE_DELAY_RATE,AVG_ARR_DELAY_MIN
0,2023-01-01,538837,10295.0,1345.0,527197.0,112890.0,73715.0,8666535.00,0.019106,0.002496,0.214132,0.139824,16.438893
1,2023-02-01,502749,9019.0,983.0,492747.0,89724.0,55791.0,6646212.00,0.017939,0.001955,0.182089,0.113224,13.488082
2,2023-03-01,580322,7406.0,1383.0,571533.0,131292.0,82867.0,9449096.00,0.012762,0.002383,0.229719,0.144991,16.532897
3,2023-04-01,561441,9589.0,1603.0,550249.0,121744.0,79326.0,9298267.00,0.017079,0.002855,0.221253,0.144164,16.898290
4,2023-05-01,579958,3310.0,1218.0,575430.0,100446.0,62516.0,7339751.25,0.005707,0.002100,0.174558,0.108642,12.755246

In [4]:
kpi_by_carrier.head()

,OP_UNIQUE_CARRIER,TOTAL_FLIGHTS,TOTAL_CANCELLED,TOTAL_DIVERTED,TOTAL_ARRIVED,DELAYED_FLIGHTS_W,SEV_DELAYED_FLIGHTS_W,ARR_DELAY_MIN_W,CANCEL_RATE,DIVERT_RATE,DELAY_RATE,SEVERE_DELAY_RATE,AVG_ARR_DELAY_MIN
0,9E,201520,4242.0,373.0,196905.0,26575.0,17976.0,2209933.0,0.021050,0.001851,0.134964,0.091293,11.223346
1,AA,940531,9978.0,2495.0,928058.0,207399.0,139667.0,19258762.0,0.010609,0.002653,0.223476,0.150494,20.751679
2,AS,245344,1977.0,724.0,242643.0,45494.0,24894.0,2687218.0,0.008058,0.002951,0.187494,0.102595,11.074781
3,B6,274852,5763.0,1174.0,267915.0,81699.0,60063.0,7329300.0,0.020968,0.004271,0.304944,0.224187,27.356811
4,DL,984986,10016.0,2039.0,972931.0,153815.0,99435.0,12215108.0,0.010169,0.002070,0.158094,0.102201,12.554958

In [5]:
kpi_by_route.head()

,ROUTE,TOTAL_FLIGHTS,TOTAL_CANCELLED,TOTAL_ARRIVED,DELAYED_FLIGHTS_W,ARR_DELAY_MIN_W,CANCEL_RATE,DELAY_RATE,AVG_ARR_DELAY_MIN
0,ABE-ATL,994,3.0,989.0,132.0,13612.0,0.003018,0.133468,13.763397
1,ABE-BNA,139,1.0,138.0,26.0,2015.0,0.007194,0.188406,14.601449
2,ABE-CLT,1098,9.0,1083.0,115.0,11136.0,0.008197,0.106187,10.282548
3,ABE-DEN,58,1.0,57.0,9.0,612.0,0.017241,0.157895,10.736842
4,ABE-FLL,95,2.0,93.0,34.0,3998.0,0.021053,0.365591,42.989247

In [6]:
kpi_by_origin.head()

,ORIGIN,TOTAL_FLIGHTS,TOTAL_CANCELLED,TOTAL_ARRIVED,DELAYED_FLIGHTS_W,ARR_DELAY_MIN_W,CANCEL_RATE,DELAY_RATE,AVG_ARR_DELAY_MIN
0,ABE,4409,25.0,4368.0,675.0,69490.0,0.005670,0.154533,15.908883
1,ABI,1359,17.0,1341.0,182.0,14391.0,0.012509,0.135720,10.731544
2,ABQ,23521,201.0,23273.0,4028.0,295667.0,0.008546,0.173076,12.704293
3,ABR,725,14.0,711.0,59.0,7549.0,0.019310,0.082982,10.617440
4,ABY,814,2.0,810.0,89.0,10796.0,0.002457,0.109877,13.328395

## 2. Final Column Selection for Dashboard Use

Only business-facing metrics are kept. Helper columns used during intermediate calculations are excluded.

In [7]:
monthly_final = kpi_by_month[[
    "MONTH",
    "TOTAL_FLIGHTS",
    "CANCEL_RATE",
    "DELAY_RATE",
    "SEVERE_DELAY_RATE",
    "AVG_ARR_DELAY_MIN"
]].copy()

monthly_final.head()

,MONTH,TOTAL_FLIGHTS,CANCEL_RATE,DELAY_RATE,SEVERE_DELAY_RATE,AVG_ARR_DELAY_MIN
0,2023-01-01,538837,0.019106,0.214132,0.139824,16.438893
1,2023-02-01,502749,0.017939,0.182089,0.113224,13.488082
2,2023-03-01,580322,0.012762,0.229719,0.144991,16.532897
3,2023-04-01,561441,0.017079,0.221253,0.144164,16.898290
4,2023-05-01,579958,0.005707,0.174558,0.108642,12.755246

In [8]:
carrier_final = kpi_by_carrier[[
    "OP_UNIQUE_CARRIER",
    "TOTAL_FLIGHTS",
    "CANCEL_RATE",
    "DELAY_RATE",
    "SEVERE_DELAY_RATE",
    "AVG_ARR_DELAY_MIN"
]].copy()

carrier_final.head()

,OP_UNIQUE_CARRIER,TOTAL_FLIGHTS,CANCEL_RATE,DELAY_RATE,SEVERE_DELAY_RATE,AVG_ARR_DELAY_MIN
0,9E,201520,0.021050,0.134964,0.091293,11.223346
1,AA,940531,0.010609,0.223476,0.150494,20.751679
2,AS,245344,0.008058,0.187494,0.102595,11.074781
3,B6,274852,0.020968,0.304944,0.224187,27.356811
4,DL,984986,0.010169,0.158094,0.102201,12.554958

In [9]:
route_final = kpi_by_route[[
    "ROUTE",
    "TOTAL_FLIGHTS",
    "CANCEL_RATE",
    "DELAY_RATE",
    "AVG_ARR_DELAY_MIN"
]].copy()

route_final.head()

     ROUTE  TOTAL_FLIGHTS  CANCEL_RATE  DELAY_RATE  AVG_ARR_DELAY_MIN
0  ABE-ATL            994     0.003018    0.133468          13.763397
1  ABE-BNA            139     0.007194    0.188406          14.601449
2  ABE-CLT           1098     0.008197    0.106187          10.282548
3  ABE-DEN             58     0.017241    0.157895          10.736842
4  ABE-FLL             95     0.021053    0.365591          42.989247

In [ ]:
origin_final = kpi_by_origin[[
    "ORIGIN",
    "TOTAL_FLIGHTS",
    "CANCEL_RATE",
    "DELAY_RATE",
    "AVG_ARR_DELAY_MIN"
]].copy()

origin_final.head()

  ORIGIN  TOTAL_FLIGHTS  CANCEL_RATE  DELAY_RATE  AVG_ARR_DELAY_MIN
0    ABE           4409     0.005670    0.154533          15.908883
1    ABI           1359     0.012509    0.135720          10.731544
2    ABQ          23521     0.008546    0.173076          12.704293
3    ABR            725     0.019310    0.082982          10.617440
4    ABY            814     0.002457    0.109877          13.328395

## 3. KPI Definitions
The following definitions apply across all exported datasets:

- **Total Flights**
Count of scheduled flights

- **Cancellation Rate**
Cancelled flights / total scheduled flights

- **Delay Rate**
Flights arriving >15 minutes late / arrived flights

- **Severe Delay Rate**
Flights arriving >30 minutes late / arrived flights

- **Average Arrival Delay**
Mean arrival delay minutes across arrived flights

All rates are volume-weighted to reflect system-wide operational impact.

## 4. Tableau Dashboard Design Plan

### Dashboard Objective
This dashboard summarizes U.S. airline operational performance across the analyzed period. It is designed to help operations leadership quickly assess:
- Overall reliability
- Delay severity
- Seasonal performance trends
- Carrier & airport-level risk concentration

The dashboard supports data-driven decisions related to route optimization and performance monitoring.

----

### Dashboard Layout

#### Top Row - Executive KPI Snapshot

Displays the KPI cards for quick performance evaluation
- Total Flights 
- Cancellation Rate 
- Delay Rate 
- Severe Delay Rate
- Average Arrival Delay (minutes)
    
Purpose: 
 - Allow stakeholders to understand overall reliability within seconds

---

#### Middle Section - Monthly Performance Trends

Visuals:
- Delay Rate (line chart)
- Cancellation Rate (line chart)
- Average Arrival Delay (line chart)

Purpose:
- Identify seasonal patterns
- Detect performance improvements/decline
- Highlight disruption spikes during specific months

---

#### Bottom Left - Carrier Performance Comparison

Visual:
- Delay Rate by Carrier (sorted bar chart)
    
Purpose:
- Compare operational reliability across airlines
- Identify high and low performing carriers
- Support benchmarking and accountability discussions

---

#### Bottom Right - Geographic/Route Risk Analysis

Visual:
- Worst Routes and Origin Airports by Delay Rate (volume-filtered)
    
Purpose:
- Identify concentrated disruption areas
- Highlight high-impact operational bottlenecks
- Support targeted operational improvements

---

#### Intended Insights
This dashboard is designed to help answer the following questions:
- Which airlines have the highest delay and cancellation rates?
- Which airports or routes are most operationally risky?
- How has on-time performance changed over time?
- Are delays seasonal or systemic?
- Which carriers maintain consistent reliability?
- Where should leadership focus operational improvements first?

---

#### Connection to Business Value
By consolidating system-wide reliability metrics with carrier and geographic breakdowns, this dashboard enables:
- Proactive seasonal planning
- Targeted operational interventions
- Improved passenger experience
- Data-driven performance monitoring 

The dashboard translated analytical findings into actionable operational insight.

## 5. Export Final Dashboard Datasets

In [11]:
monthly_final.to_csv("/Users/emiadenuga/Downloads/Portfolio Files/Airline/data/dashboard/airline_kpi_monthly.csv", index=False)
carrier_final.to_csv("/Users/emiadenuga/Downloads/Portfolio Files/Airline/data/dashboard/airline_kpi_carrier.csv", index=False)
route_final.to_csv("/Users/emiadenuga/Downloads/Portfolio Files/Airline/data/dashboard/airline_kpi_route.csv", index=False)
origin_final.to_csv("/Users/emiadenuga/Downloads/Portfolio Files/Airline/data/dashboard/airline_kpi_origin.csv", index=False)

print("Dashboard datasets exported successfully.")

Dashboard datasets exported successfully.